 <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Grater</a>
        <ul class="nav">
          <li>{{#link-to 'node'}}MRML Data{{/link-to}}</li>
          <li>{{#link-to 'about'}}About{{/link-to}}</li>
        </ul>
      </div>
    </div>
    {{outlet}}
