 <div class="navbar">
 	<div class="navbar-inner">
 		<a class="brand" href="#">Grater</a>
 		<ul class="nav">
 			<li>{{#link-to 'viewer'}}MRML Data{{/link-to}}</li>
 			<li>{{#link-to 'viewer'}}About{{/link-to}}</li>
 		</ul>
 	</div>
 </div>
 {{outlet}}
