<div> 

  <ul class="navigation">

    <li class="navigationLi">
      <div class='menu'>
        <div class='tabbox'>
          <div class='caption'>Left eye.vtk</div>
          Foo
        </div>
      </div>
    </li>

    <li class="navigationLi">
      <div class='menu'>
        <div class='tabbox'>
          <div class='caption'>Face.vtk</div>
          Face.vtk
        </div>
      </div>
    </li>

  </ul>

  <div id="render">
  </div>

</div>