
<ul class="navigation">
{{#each model}}
	<li class="navigationLi">
		<div class='menu'>
			<div class='tabbox'>
				<div class='caption'>{{name}}</div>
				{{name}}
			</div>
		</div>
	</li>
	{{/each}}
</ul>
