
<table class='table'>
	<thead>
		<tr><th>Node
			<button type="button" class="btn btn-default btn-sm" {{action 'report'}}>Report</button>
		</th></tr>
	</thead>
	{{#each model}}
	<tr><td>
		{{node-item node=this}}
	</td></tr>						
	{{/each}}
</table>
