
<div class="container-fluid full-height">
		<div class="row-fluid full-height">
			<div class="span2">
				{{render "node" model}}
			</div>
			<div class="span10 full-height">
				{{render "render" model}}
			</div>
		</div>
	</div>


