
<div class="container-fluid full-height">
		<div class="splitter full-height">
			<div>
				{{render "node"}}
			</div>
			<div class="full-height">
				{{render "display"}}
			</div>
		</div>
	</div>


