html,body{
height:100%;
}


.container, .container-fluid, .row-fluid, .full-height {
	min-height: 100%;
	height: 100%;
	overflow: hidden;
}

#viewer {
	overflow: hidden;
	height:100%;
}

.ember-view {
	height: 100%;
	overflow: hidden;
}